* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;

  display: grid;
  justify-content: space-between;
  grid-template-columns: 40% 40%;
  margin: 0 30px;
  align-items: center;
}

.container-setup {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: #b0e5f3;
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board div {
  border: solid 0.5px black;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted {
  background-color: gray !important;
}

.highlighted:hover{
  cursor:pointer;
}

.red-highlight{
  background-color: red;
}

.red-highlight:hover{
  cursor:not-allowed;
}
/* 
.enabled:hover {
  background-color: blue;
} */
